{% extends "pages/base.html" %} {% block title %}Temperature convert{% endblock title %} {%
block content %}
<h1>Temperature convert</h1>

<form class="options">
  <label>to Fahrenheit <input name="temp" type="radio" value="c" /> </label
  ><label>to Celsius <input name="temp" type="radio" value="f"/></label>
</form>

<form action="/c2f" method="post">
  <label>celsius<input name="temp" step="0.0001" placeholder="0" type="number"/></label>
  <label><input type="submit" value="confirm"/></label>
</form>
<form class="hidden" action="/f2c" method="post">
  <label>fahrenheit<input name="temp" step="0.0001" placeholder="0" type="number"/></label>
  <label><input type="submit" value="confirm"/></label>
</form>

{% if temp %}
<div>{{ temp }}</div>
{% endif %}

<script>
  const options = document.querySelectorAll("input[type='radio']");
const f2CForm = document.querySelector("form[action='/f2c']");
const c2FForm = document.querySelector("form[action='/c2f']");

function toggle_options(forms) {
    forms[0].classList.toggle('hidden')
    forms[1].classList.toggle('hidden')
}

options.forEach(function(el) {
  el.addEventListener("click", e => {
      try{
          toggle_options([createUserForm, rawSQLForm])
      }catch(e){
          console.log('not db page')
      }
      try{
          toggle_options([c2FForm, f2CForm])
      }catch(e){
          console.log('not temperature page')
      }
  });
});

function init() {
  options[0].checked = true;
}

window.addEventListener("load", init);
</script>

{% endblock content %}
